<% title t(:new, :object=>t(:page)) %>
<% subtitle t('pages.message.new') %>

<% semantic_form_for [:admin,@page] do |f| %>
	<%= render :partial=>'form', :locals=>{ :f=>f, :button=>'create' } %>
<% end %>

<div id="links">
	<%= link_to t(:listing, :object=>t('pages.title')), admin_pages_path %>
</div>