.global_a {
  text-decoration: none;
  color: #1f7fd0;
  padding: 0 1px 0 1px;
  font-size: 0.8em;
}
.global_a:hover {
  text-decoration: none;
  background: #1f7fd0;
  color: #ffffff;
  padding: 0 1px 0 1px;
}
a {
  text-decoration: none;
  color: #1f7fd0;
  padding: 0 1px 0 1px;
  font-size: 0.8em;
}
a:hover {
  text-decoration: none;
  background: #1f7fd0;
  color: #ffffff;
  padding: 0 1px 0 1px;
}
div#main { width: 35em; }
div#links { margin-top: 1em; }
ul#navigation li:hover ul { left: auto; }
ul#navigation li ul {
  position: absolute;
  left: -999em;
  margin-left: 0;
}
ul#navigation li ul li { background: #1f7fd0; }
ul#navigation li ul li a {
  line-height: 20px;
  padding-top: 0;
  padding-bottom: 0;
}
