.global_a {
  text-decoration: none;
  color: #1f7fd0;
  padding: 0 1px 0 1px;
  font-size: 0.8em;
}
.global_a:hover {
  text-decoration: none;
  background: #1f7fd0;
  color: #ffffff;
  padding: 0 1px 0 1px;
}
a {
  text-decoration: none;
  color: #1f7fd0;
  padding: 0 1px 0 1px;
  font-size: 0.8em;
}
a:hover {
  text-decoration: none;
  background: #1f7fd0;
  color: #ffffff;
  padding: 0 1px 0 1px;
}
body { text-align: center; }
div#root {
  text-align: left;
  width: 750px;
  margin: 0 auto 25px auto;
  padding: 0;
}
div#root div#header div#logo a {
  float: left;
  margin-top: 30px;
}
div#root div#header div#logo a:hover { background: #ffffff; }
div#root div#header ul#navigation li:hover ul { left: auto; }
div#root div#header ul#navigation li a:hover { background: #f6a2c6; }
div#root div#header ul#navigation li ul {
  position: absolute;
  left: -999em;
  margin-left: 0;
}
div#root div#header ul#navigation li ul li { background: #1f7fd0; }
div#root div#header ul#navigation li ul li a {
  line-height: 20px;
  padding-top: 0;
  padding-bottom: 0;
}
div#root div#header ul#navigation li.current a { color: #000000; }
div#root div#contents table thead tr th { background: #f6a2c6; }
div#main { width: 31em; }
div#top_links { margin-bottom: 1em; }
div#bottom_links { margin-top: 1em; }
